<?xml version="1.0"?>
<launch>

	<!-- launch gazebo for youbot -->
	<include file="$(find youbot_apps)/launch/apps.launch">

		<arg name="world" 	value="empty_world"/>
		<arg name="debug" 	value="false" /> 	<!-- debug mode -->
		<arg name="info" 	value="true" /> 	<!-- print informational messages -->
		<arg name="gaz" 	value="true" /> 	<!-- run gazebo -->	

	</include>

</launch>


