<?xml version="1.0"?>

<!--

This launch file starts the ROS wrapper for the KUKA youBot API.


If you receive an error message that contains "Excecute as root"
then go to the bin folder and execute: sudo setcap cap_net_raw+ep
or enable the USE_SETCAP flag in the cmake file and recompile again.
-->

<launch>

	<env name="ROS_MASTER_URI" value="http://polaris:11311"/>

	<arg name="ybt" default="false"/>

	<!-- call the youbot one arm driver launch file -->
	<!-- <include if="$(arg ybt)" file="$(find twoarm_cage)/launch/arm1_driver.launch"/> -->

	<!-- START THE NETWORK CAPTURE -->
	<node pkg="twoarm_cage" required="false" type="pcap_logger.sh" name="pcap_logger">
		<!-- NO PARAMS -->
	</node>

	<!-- start the robot proxy for arm 1 -->
	<node pkg="twoarm_cage" 
			required="true"
			type="robot_proxy_exec.py" 
			name="robot_proxy_1"
			output="screen">

		<param name="~arm_num" type="int" value="1" />
		<param name="~joint_pose_dict" type="string" value="$(find twoarm_cage)/config/joint_pos_defs.yaml"/>
		<param name="~cmd_seq" type="string" value="$(find twoarm_cage)/config/arm_commands.yaml" />
		<param name="~joint_states_topic" type="string" value="/arm_1/joint_states" />

	    <param name="~joint_distance_tol" type="double" value="0.05" />
	    <param name="~joint_velocity_tol" type="double" value="0.05" />
	    <param name="~arm_move_duration" type="double" value="10.0" />

	    <param name="~gripper_distance_tol" type="double" value="0.05" />
	    <param name="~gripper_move_duration" type="double" value="10.0" />

	</node>  	
		  
</launch>

