<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:macro name="youbot_base_gazebo">
    <gazebo reference="youbot_base">
      <material value="youbot/DarkGrey" />
    </gazebo>

    <!-- front left wheel -->
    <gazebo reference="wheel_link_fl">
      <material value="youbot/Orange" />
      <kp>1000000</kp>
      <kd>100</kd>
    </gazebo>
    
    <gazebo reference="caster_link_fl">
      <material value="youbot/Orange" />
    </gazebo>

    <!-- front right wheel -->
    <gazebo reference="wheel_link_fr">
      <material value="youbot/Orange" />
      <kp>1000000</kp>
      <kd>100</kd>
    </gazebo>
    
    <gazebo reference="caster_link_fr">   
      <material value="youbot/Orange" />
    </gazebo>

    <!-- back left wheel -->
    <gazebo reference="wheel_link_bl">
      <material value="youbot/Orange" />
      <kp>1000000</kp>
      <kd>100</kd>
    </gazebo>
    
    <gazebo reference="caster_link_bl">
      <material value="youbot/Orange" />
    </gazebo>

    <!-- back right wheel -->
    <gazebo reference="wheel_link_br">
      <material value="youbot/Orange" />
      <kp>1000000</kp>
      <kd>100</kd>
    </gazebo>
    
    <gazebo reference="caster_link_br">
      <material value="youbot/Orange" />
    </gazebo>

    <!-- position controller -->
    <gazebo>
      <plugin name="base_controller" filename="libgazebo_ros_planar_move.so">
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <odometryRate>100.0</odometryRate>
        <robotBaseFrame>base_footprint</robotBaseFrame>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>
